@charset "utf-8";

/*---------- module ----------*/
/* popup */
.main .pop-familysite {border-left: none; border-right: none;}
.main .pop-brandsite {border-left: none; border-right: none;}

/*---------- layout ----------*/
.header {position: absolute; top: 0; }
.header .logo{left: 50px;}
.header .ico._logo {background-position: 0 -21px;}
.header.open .ico._logo {background-position: 0 0px;}
.header .util-menu{right: 50px;}
.header .util-menu a {color: #fff;}
.header .util-menu li + li{background: url(../img/common/line_v.png) 0 50% no-repeat;}
.header.open .util-menu li + li{background: url(../img/common/line_v2.png) 0 50% no-repeat;}
.header.open .util-menu a {color: #7f7f7f;}
.header .util-menu a .btn-facebook_T {background-position: -16px -60px;}
.header.open .util-menu a .btn-facebook_T {background-position: 0 -60px;}

.lnb .innerLnb.open{background: #fff url(../img/common/bg_header.png) 0 0 repeat-x; color: #000;}
.lnb .innerLnb.open .d-1 > a  {color: #000;}
.lnb .innerLnb.open .d-1:hover > a,
.lnb .innerLnb.open .d-1:focus > a{color: #de2777;}
.lnb .d-1 > a {color: #fff;}


/* footer */
.footer {background: #f2f2f2;}
.footer .inner{max-width: 1200px;}

/* main-slider */
.main-slider-wrap{position: relative; height: 800px; overflow: hidden; z-index: 5;}

.main-slider-wrap .bx-viewport{z-index: 5; height: 800px;}
.main-slider-wrap .main-slider li{position: relative;height: 800px;}
.main-slider-wrap .main-slider li .img{position: absolute; width: 100%; height: 100%; background-position: center center; background-repeat:no-repeat; background-size: cover; -webkit-background-size: cover; background-size: cover;}
.main-slider-wrap .main-slider-cont{position: relative; width: 100%; max-width: 1200px; margin: 390px auto 0 auto;}
/* .main-slider-wrap .main-slider-cont:before{content: "";  position: absolute; top: 0; left: 0; width: 255px; height: 106px; background: url(../img/common/img_logo2.png) no-repeat 0 0;} */
.main-slider-wrap .main-slider-cont p{display: none; position: relative; font-size: 16px; line-height: 25px; padding-top: 140px; color: #ffffff;}

.main-slider-wrap .bx-controls{position: relative; top: -180px; width: 1080px; margin: 0 auto;}
.main-slider-wrap .bx-controls-auto{position: absolute; top: 3px; left: 100px; z-index: 10;}
.main-slider-wrap .bx-pager{position: absolute; top: 0; left: 0; z-index: 10;}
.main-slider-wrap .bx-pager .bx-pager-item{display: inline-block;}
.main-slider-wrap .bx-pager .bx-pager-item + .bx-pager-item{margin-left: 14px;}
.main-slider-wrap .bx-pager .bx-pager-item .bx-pager-link {display: inline-block; width: 6px; height: 6px; vertical-align: middle; border-radius: 25px; /* background: rgba(256, 256, 256, .4); */ background: #fff; text-indent: -100000px;
	-webkit-transition: width 0.3s ease-out; 
	transition: width 0.3s ease-out; }
.main-slider-wrap .bx-pager .bx-pager-item .bx-pager-link.active {width: 47px; height: 21px; background: #ed0c6e;}

/* LOOKIE 공지사항 */
.sect-notice {padding: 80px 0;}
.sect-notice .h-t1{margin-bottom: 50px;}
.sect-notice .wrap_quick{margin-top: 10px;}
.sect-notice .wrap_quick:after{content: ""; display: table; clear: both;}
.sect-notice .wrap_quick .area_quick{float: left; text-align: center; width: 129px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.sect-notice .wrap_quick .area_quick +.area_quick{margin-left: 6%;}
.sect-notice .wrap_quick .area_quick .link{display: block;}
.sect-notice .wrap_quick .area_quick .link:hover strong, 
.sect-notice .wrap_quick .area_quick .link:focus strong, 
.sect-notice .wrap_quick .area_quick .link:active strong {font-weight: 700;}
.sect-notice .wrap_quick .area_quick .link:hover .ico-quick,
.sect-notice .wrap_quick .area_quick .link:focus .ico-quick,
.sect-notice .wrap_quick .area_quick .link:active .ico-quick{background-position-y: -130px;}
.sect-notice .wrap_quick .area_quick .tit{display: block; font-size: 15px; font-weight: normal; padding-top: 15px;}

/* LOOKIE 이야기 */
.sect-story {padding: 80px 0;}
.sect-story .h-t1{margin-bottom: 40px;}
.sect-story .lay-r2{line-height: 0;}

/* 이미지 줌
.lnb .focusMn .img-mn:after {-webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease;}
.lnb .focusMn:hover .img-mn:after, .focusMn:focus .img-mn:after {-webkit-transform: scale(1.1,1.1); -moz-transform: scale(1.1,1.1) rotate(0.02deg); -ms-transform: scale(1.1,1.1)  rotate(0.02deg); -o-transform: scale(1.1,1.1) rotate(0.02deg); transform: scale(1.1,1.1) rotate(0.02deg);}*/

/* 함께하는 사람들 */
.sect-with{text-align: center; padding: 50px 0;}
.sect-with .with{display: inline-block;}
.sect-with .with li{display: inline-block;}
.sect-with .with li + li{margin-left: 70px;}

/* */

.m-hide_1024 {display: block !important;}
.w-hide_1024 {display: none !important;}


/*========== media screen == 1200 ==========*/
@media screen and (max-width: 1200px){
/*---------- layout ----------*/
.header .logo {left: 20px;}
.header .util-menu{right: 20px;}

.footer .logo {left: 20px;}
.footer .mark {right: 20px;}

/* main-slider */
.main-slider-wrap .main-slider-cont {max-width: 1000px;}
.main-slider-wrap .bx-controls {top: -120px; width: 100%; max-width: 1000px;}

/* LOOKIE 공지사항 */
.sect-notice .wrap_quick .area_quick +.area_quick{margin-left: 4%;}

/* LOOKIE 이야기 */
.sect-story .img_banner {width: 532px;}

}

/*========== media screen == 1024 ==========*/
@media screen and (max-width: 1024px){
/*---------- module ----------*/
/* header-main */
.header .logo {display: none;}
.btn-menu-m {display: block; width: 32px; height: 32px; background: url(../img/common/btn_menu_m.png) no-repeat 0 0; -webkit-background-size: 100%; background-size: 100%;}
.header .util-menu {padding-top: 0;}
.header .util-menu a .btn-facebook_T {background: url(../img/common/btn_facebook_T_m.png) no-repeat 0 0; -webkit-background-size: 100% auto; background-size: 100% auto;}
.lnb {top: auto; background-color: #fff;}
.lnb .d-1 > a {width: auto; color: #000;}
.lnb .mn-2 {display: block;}

.footer .logo {left: 0;}

/* main-slider */

.main-slider-wrap .bx-viewport {margin-bottom: -60px;}

.main-slider-wrap .main-slider-cont{margin: 55px auto 0 auto; }
.main-slider-wrap .main-slider-cont:before {top: 0; left: 50%; margin-left: -128px;}
.main-slider-wrap .main-slider-cont p {display: none;}
.main-slider-wrap .bx-pager {left: 50%; margin-left: -60px;}
.main-slider-wrap .bx-controls {top: -70px;}
.main-slider-wrap .bx-controls-auto {left: 50%; margin-left: 40px;}
.main-slider-wrap, .main-slider-wrap .main-slider li {height: auto;}
.main-slider-wrap .main-slider li .img {position: relative;}
.main-slider-wrap .main-slider li .img img {display: block;}

/* LOOKIE 공지사항 */
.sect-notice .wrap_quick {margin-top: 70px;}
.sect-notice .wrap_quick .area_quick {width: 25%;}
.sect-notice .wrap_quick .area_quick +.area_quick {margin-left: 0;}

/* LOOKIE 이야기 */
.sect-story .img_banner {width: auto;}
.sect-story .img_banner img{width: 100%;}

.m-hide_1024 {display: none !important;}
.w-hide_1024 {display: block !important;}

}

/*========== media screen == 640 ==========*/
@media screen and (max-width: 640px){
/* main-slider */
.main-slider-wrap {/* height: 769px; */}
.main-slider-wrap .main-slider li {/* height: 769px; */}
.main-slider-wrap .main-slider-cont:before{width: 128px; height: 53px; margin-left: -64px; -webkit-background-size: 100%; background-size: 100%;}
.main-slider-wrap .bx-controls {/* top: -60px; margin-top: -50px; */}

/* LOOKIE 공지사항 */
.sect-notice {padding: 40px 0 10px 0;}
.sect-notice .h-t1 {margin-bottom: 20px}
.list-notice .tit{width: 60%;}
.sect-notice .wrap_quick {margin-top: 40px;}
.sect-notice .wrap_quick .area_quick {width: 50%; margin-bottom: 30px;}
.sect-notice .wrap_quick .area_quick .tit{font-size: 14px;}

/* LOOKIE 이야기 */
.sect-story {padding: 40px 0 0 0;}


/* 함께하는 사람들 */
.sect-with {padding: 35px 0;}
.sect-with .with {text-align: center; display: block;}
.sect-with .with li {width: 32%;}
.sect-with .with li + li {margin-left: 0;}
}

/* */

@media (max-width: 1220px) and (min-width: 1200px) {

/* layout */
.sect-notice .lay-l1 {max-width: 430px;}
.sect-notice .lay-r1 {max-width: 600px; margin-left: 73px;}

.sect-notice .main-inner-cont {padding: 0 40px;}

.sect-notice .wrap_quick .area_quick +.area_quick {margin-left: 4%;}

.sect-story .lay-l2 {max-width: 532px;}
.sect-story .lay-r2 {max-width: 532px;}

/* section */
.sect-story .sect-t2 {padding: 0 49px;}

/* list */
.sect-story .list-mainStory01 li {width: 256px;}
.sect-story .list-mainStory01 .link {height: 325px;}
.sect-story .list-mainStory02 li {width: 256px;}

}

@media (max-width: 1190px) and (min-width: 1024px) {

/* LOOKIE 공지사항 */

.sect-notice .lay-l1 {float: none; max-width: 1200px; margin-left: auto; margin-right: auto;}
.sect-notice .lay-r1 {max-width: 100%; margin-left: 0;}

.sect-notice .wrap_quick {margin-top: 70px;}
.sect-notice .wrap_quick .area_quick {width: 25%;}
.sect-notice .wrap_quick .area_quick +.area_quick {margin-left: 0;}

/* LOOKIE 이야기 */

.sect-story .lay-l2 {float: none; max-width: 1200px; margin-left: auto; margin-right: auto;}
.sect-story .lay-r2 {float: none; max-width: 1200px; margin-left: auto; margin-right: auto;}

.sect-story .img_banner {width: auto;}
.sect-story .img_banner img{width: 100%;}

.sect-story .list-mainStory01 {margin-top: 4%;}
.sect-story .list-mainStory01 li {width: 48%; }
.sect-story .list-mainStory01 li + li{margin-left: 4%;}
.sect-story .list-mainStory01 .link {height: auto; padding-bottom: 100%;}

.sect-story .list-mainStory02 li {width: 48%;  margin-bottom: 4%;}
.sect-story .list-mainStory02 li + li{margin-left: 4%;}
.sect-story .list-mainStory02 li:nth-child(3) {margin-left: 0;}
.sect-story .list-mainStory02 .cont {min-height: 25px;}

}